/*
base style for transcriptions and such with loverly hovery tippy thingies
yearluk
2021-07-13/
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  margin: 10;
  padding: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  text-align: center;
  color: #494949;
}

.hiddenimg {
  display: none;
}

.hiddentxt {
  display: inline-block;
  position: relative;
  cursor: pointer;
  /* color: #3bb4e5; */
  border-bottom: 2px solid #cfbb07;
  box-sizing: border-box;
  font-style: normal;
  transition:all 0.25s ease
}


.hiddentxt:hover ~ .hiddenimg {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  z-index: 99;

  position: absolute;

  
  background: rgba(10, 20, 30, 0.85);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;

  min-width: 120px;
  text-align: center;
  
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  letter-spacing: 0


  top: 0;
  left: 33%;
  position: absolute;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;


}

.chapter {
  width: 600px;
  margin: 90px auto;
}

h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  border-bottom: 5px solid #1b292e;
}

p {
  text-align: left;
  font-size: 1rem;
  line-height: 2;
  margin-top: 2rem;
}

span.hint {
  border-bottom: 2px solid #67C8EA;
  cursor: pointer;
  transition: all 0.3s ease;
  /*&:hover { background: #A4E1F6;}*/
}

span.img {
  border-bottom: 2px solid #eacc67;
  cursor: pointer;
  transition: all 0.3s ease;
  /*&:hover { background: #A4E1F6;}*/
}



.qtip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  /* color: #3bb4e5; */
  border-bottom: 2px solid #3bb4e5;
  box-sizing: border-box;
  font-style: normal;
  transition:all 0.25s ease
}

.qtip:before {
  content: attr(hint);
  font-size: 14px;
  position: absolute;
  background: rgba(10, 20, 30, 0.85);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 120px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 600
}
.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.qtip:hover:before,
.qtip:hover:after {
  visibility: visible;
  opacity: 1
}
/*top*/
.qtip.top:before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.top:after {
  border-width: 8px 8px 0 8px;
  border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*bottom*/
.qtip.bottom:before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.bottom:after {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(10, 20, 30, 0.85) transparent;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*left*/
.qtip.left:before {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.left:after {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent rgba(10, 20, 30, 0.85);
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
}
/*right*/
.qtip.right:before {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.right:after {
  border-width: 8px 8px 8px 0;
  border-color: transparent rgba(10, 20, 30, 0.85) transparent transparent;
  right: -8px;
  top: 50%;
  transform: translate(0, -50%);
}


/*rando jumbo-mumbo*/

.container {
  padding: 1.5em;
  margin: 3em auto;
  background: #fff;
  position: relative;
  max-width: 720px;
  /* font-size: calc(2vmin + 12px);*/
  line-height: 1.5em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  text-align:center;
  font-family:'Raleway', sans-serif
}
.container p {margin:0 auto 0.8em}

.container h1 {
  text-align: center;font-family: monospace, serif;
  line-height:1em;
  color: #d40; 
  margin:0 auto 0.5em;
  font-size: 2.5em;
}
code {
  color: #3bb4e5;
  font-size: 0.8em;
  padding: 1em;
  background: rgb(10,20,30);
  display: block;
  text-align:left;
}
.hl {
  color: #eb1777
}
.qcontent {
  color: #ff0;
  font-weight: bold
}
.qclass {
  color: #dd0;
  font-weight: bold
}