:root{
  /* Polar Night is made up of four darker colors that are commonly used for base elements like backgrounds or text color in bright ambiance designs.
  */
  --nord-polar-night-0: #2e3440;
  --nord-polar-night-1: #3b4252;
  --nord-polar-night-2: #434c5e;
  --nord-polar-night-3: #4c566a;
  /* Snow Storm is made up of three bright colors that are commonly used for text colors or base UI elements in bright ambiance designs. */
  --nord-snow-storm-4: #e5e9f0;
  --nord-snow-storm-5: #d8dee9;
  --nord-snow-storm-6: #eceff4;
  /* Frost can be described as the heart palette of Nord, a group of four bluish colors that are commonly used for primary UI component and text highlighting and essential code syntax elements.  */
  --nord-frost-7: #8fbcbb;
  --nord-frost-8: #88c0d0;
  --nord-frost-9: #81a1c1;
  --nord-frost-10: #5e81ac;
  /* Aurora consists of five colorful components reminiscent of the „Aurora borealis“, sometimes referred to as polar lights or northern lights. */
  --nord-aurora-11: #bf616a;
  --nord-aurora-12: #d08770;
  --nord-aurora-13: #ebcb8b;
  --nord-aurora-14: #a3be8c;
  --nord-aurora-15: #b48ead;
}

/*
<figure class="code">
      <figcaption>
        <span class="filename">launch.json</span>
      </figcaption>
      <pre class="highlight">
        <code class="language-JSON">
          {
            // Use IntelliSense to learn about possible attributes.
            // Hover to view descriptions of existing attributes.
            // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
            "version": "0.2.0",
            "configurations": [
              {
                "type": "pwa-chrome",
                "request": "launch",
                "name": "Launch Chrome against localhost",
                "url": "http://localhost:5500",
                "webRoot": "${workspaceFolder}"
              }
            ]
          }
        </code>
      </pre>
    </figure>


*/

/* Want a centred image to overflow its boundaries to fill the page
credit: https://yihui.org/en/2021/06/css-full-width/
*/
.full-width-img {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

/* Code and syntax highlighting */
figure.code {
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
}

figure.code figcaption {
  padding: 10px 15px;
  color: #333;
  background-color: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ddd;
}

figure.code figcaption span {
  line-height: 1.1;
  font-weight: bold;
}

figure.code figcaption+.highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* tag cloud */
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  /* width: 450px; */
}

ul.cloud a {
  /*   
  Not supported by any browser at the moment :(
  --size: attr(tag-count number); 
  */
  --size: 4;
  --color: var(--nord-aurora-11);
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /* 
  For different tones of a single color
  opacity: calc((15 - (9 - var(--size))) / 15); 
  */
}

ul.cloud a[tag-count="1"] { --size: 2; }
ul.cloud a[tag-count="2"] { --size: 4; }
ul.cloud a[tag-count="3"] { --size: 6; }
ul.cloud a[tag-count="4"] { --size: 7; }
ul.cloud a[tag-count="5"] { --size: 8; }
ul.cloud a[tag-count="6"] { --size: 10; }
ul.cloud a[tag-count="7"] { --size: 8; }
ul.cloud a[tag-count="8"] { --size: 9; }
ul.cloud a[tag-count="9"] { --size: 9; }

ul[data-show-value] a::after {
  content: " (" attr(tag-count) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --color: var(--nord-aurora-14); }
ul.cloud li:nth-child(3n+1) a { --color: var(--nord-aurora-12); }
ul.cloud li:nth-child(4n+1) a { --color: var(--nord-frost-9); }
ul.cloud li:nth-child(5n+1) a { --color: var(--nord-aurora-13); }
ul.cloud li:nth-child(6n+1) a { --color: var(--nord-snow-storm-5); }

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}






/* CODE BLOCKS */
[data-lang~=devanagri]{
  text-align: center;
  font-size: 300% !important;
  border: 2px solid var(--nord-aurora-15);
}

pre code[class*="poetry"]{
  text-align: center;
  font-size: 150% !important;
  border: 2px solid var(--nord-aurora-13);
}

/*
<pre><code class=language-lyrics data-lang=lyrics>
Listen to your heart,
It knows right from wrong,
Let it guide you,



pre code[data-lang=lyrics]{
  text-align: center;
  font-size: 150% !important;
  border: 2px solid var(--nord-frost-8);
}

pre > code.language-lyrics
*/
pre :has(code.language-lyrics){
  background: yellow;
  text-align: center;
  font-size: 150% !important;
  border: 2px solid red;
}

.error{
  background: var(--nord-aurora-11);
  color: color: var(--nord-polar-night-2);
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 150% !important;
}

.warn{
  background: var(--nord-aurora-13);
  color: var(--nord-polar-night-2);
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 150% !important;
}

.success{
  background: var(--nord-aurora-14);
  color: var(--nord-polar-night-2);
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 150% !important;
}


a.footnote-ref::before {
  content: '[';
}

a.footnote-ref::after {
  content: ']';
}

iframe{
  align-content: center;
  display  : block;
  margin   : 10 auto;
  border   : 0;
  overflow : hidden;
}

/* includes alternating gray and white with on-hover color */

.data-frame {
  font-size: 11pt;
  font-family: Arial;
  border-collapse: collapse;
  border: 1px solid silver;

}

.data-frame td, th {
  padding: 5px;
}

.dat-frame th {
  background: #B48EAD;
}

.data-frame tr:nth-child(even) {
  background: #a19b9b;
  color: #3B4252;
}

.data-frame tr:hover {
  background: #D08770;
  color: #3B4252;
  cursor: pointer;
}


.included-content {
  border: 2px dotted #A3BE8C !important;
  border-radius: 3%;
}

.yt-media {
  margin-top: var(--bigMargin);
  margin-bottom: var(--bigMargin);

  border: 1px solid var(--border-color);
  padding: var(--pad);
  border-radius: var(--radius);
  display: block;
  font-size: 11pt;

  background-color: var(--code-background);
  color: var(--code-color);
  font-family: 'Inconsolata', monospace;
  overflow-x: auto;
  white-space: nowrap;
  line-height: 14pt;

  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
