<table>
    <tr>
        <td>Code</td>
        <td>State/Province</td>
        <td>Abbreviation</td>
        <td>USPS Alpha code</td>
        <td> ISO 3166-1 alpha-2 Country Conflict</td>
        <td>Flag</td>
        <td> ISO 3166-1 alpha-3</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-1</td>
        <td>Alabama</td>
        <td>Ala.</td>
        <td>AL</td>
        <td>Albania</td>
        <td>🇦🇱</td>
        <td>ALB</td>
    </tr>
    <tr>
        <td>USA-2</td>
        <td>Alaska</td>
        <td></td>
        <td>AK</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-3</td>
        <td>Arizona</td>
        <td>Ariz.</td>
        <td>AZ</td>
        <td>Azerbaijan</td>
        <td>🇦🇿</td>
        <td>AZE</td>
    </tr>
    <tr>
        <td>USA-4</td>
        <td>Arkansas</td>
        <td>Ark.</td>
        <td>AR</td>
        <td>Argentina</td>
        <td>🇦🇷</td>
        <td>ARG</td>
    </tr>
    <tr>
        <td>USA-5</td>
        <td>California</td>
        <td>Calif.</td>
        <td>CA</td>
        <td>Canada</td>
        <td>🇨🇦</td>
        <td>CAN</td>
    </tr>
    <tr>
        <td>USA-6</td>
        <td>Colorado</td>
        <td>Colo.</td>
        <td>CO</td>
        <td>Colombia</td>
        <td>🇨🇴</td>
        <td>COL</td>
    </tr>
    <tr>
        <td>USA-7</td>
        <td>Connecticut</td>
        <td>Conn.</td>
        <td>CT</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-8</td>
        <td>Delaware</td>
        <td>Del.</td>
        <td>DE</td>
        <td>Germany</td>
        <td>🇩🇪</td>
        <td>DEU</td>
    </tr>
    <tr>
        <td>USA-9</td>
        <td>District of Columbia</td>
        <td>D.C.</td>
        <td>DC</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-10</td>
        <td>Florida</td>
        <td>Fla.</td>
        <td>FL</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-11</td>
        <td>Georgia</td>
        <td>Ga.</td>
        <td>GA</td>
        <td>Gabon</td>
        <td>🇬🇦</td>
        <td>GAB</td>
    </tr>
    <tr>
        <td>USA-12</td>
        <td>Hawaii</td>
        <td></td>
        <td>HI</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-13</td>
        <td>Idaho</td>
        <td></td>
        <td>ID</td>
        <td>Indonesia</td>
        <td>🇮🇩</td>
        <td>IDN</td>
    </tr>
    <tr>
        <td>USA-14</td>
        <td>Illinois</td>
        <td>Ill.</td>
        <td>IL</td>
        <td>Israel</td>
        <td>🇮🇱</td>
        <td>ISR</td>
    </tr>
    <tr>
        <td>USA-15</td>
        <td>Indiana</td>
        <td>Ind.</td>
        <td>IN</td>
        <td>India</td>
        <td>🇮🇳</td>
        <td>IND</td>
    </tr>
    <tr>
        <td>USA-16</td>
        <td>Iowa</td>
        <td></td>
        <td>IA</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-17</td>
        <td>Kansas</td>
        <td>Kans.</td>
        <td>KS</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-18</td>
        <td>Kentucky</td>
        <td>Ky.</td>
        <td>KY</td>
        <td>Cayman Islands</td>
        <td>🇰🇾</td>
        <td>CYM</td>
    </tr>
    <tr>
        <td>USA-19</td>
        <td>Louisiana</td>
        <td></td>
        <td>LA</td>
        <td>Lao PDR (Laos)</td>
        <td>🇱🇦</td>
        <td>LAO</td>
    </tr>
    <tr>
        <td>USA-20</td>
        <td>Maine</td>
        <td>Me.</td>
        <td>ME</td>
        <td>Montenegro</td>
        <td>🇲🇪</td>
        <td>MNE</td>
    </tr>
    <tr>
        <td>USA-21</td>
        <td>Maryland</td>
        <td>Md.</td>
        <td>MD</td>
        <td>Moldova</td>
        <td>🇲🇩</td>
        <td>MDA</td>
    </tr>
    <tr>
        <td>USA-22</td>
        <td>Massachusetts</td>
        <td>Mass.</td>
        <td>MA</td>
        <td>Morocco</td>
        <td>🇲🇦</td>
        <td>MAR</td>
    </tr>
    <tr>
        <td>USA-23</td>
        <td>Michigan</td>
        <td>Mich.</td>
        <td>MI</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-24</td>
        <td>Minnesota</td>
        <td>Minn.</td>
        <td>MN</td>
        <td>Mongolia</td>
        <td>🇲🇳</td>
        <td>MNG</td>
    </tr>
    <tr>
        <td>USA-25</td>
        <td>Mississippi</td>
        <td>Miss.</td>
        <td>MS</td>
        <td>Montserrat</td>
        <td>🇲🇸</td>
        <td>MSR</td>
    </tr>
    <tr>
        <td>USA-26</td>
        <td>Missouri</td>
        <td>Mo.</td>
        <td>MO</td>
        <td>Macau, SAR China</td>
        <td>🇲🇴</td>
        <td>MAC</td>
    </tr>
    <tr>
        <td>USA-27</td>
        <td>Montana</td>
        <td>Mont.</td>
        <td>MT</td>
        <td>Malta</td>
        <td>🇲🇹</td>
        <td>MLT</td>
    </tr>
    <tr>
        <td>USA-28</td>
        <td>Nebraska</td>
        <td>Nebr.</td>
        <td>NE</td>
        <td>Niger</td>
        <td>🇳🇪</td>
        <td>NER</td>
    </tr>
    <tr>
        <td>USA-29</td>
        <td>Nevada</td>
        <td>Nev.</td>
        <td>NV</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-30</td>
        <td>New Hampshire</td>
        <td>N.H.</td>
        <td>NH</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-31</td>
        <td>New Jersey</td>
        <td>N.J.</td>
        <td>NJ</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-32</td>
        <td>New Mexico</td>
        <td>N.Mex.</td>
        <td>NM</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-33</td>
        <td>New York</td>
        <td>N.Y.</td>
        <td>NY</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-34</td>
        <td>North Carolina</td>
        <td>N.C.</td>
        <td>NC</td>
        <td>New Caledonia</td>
        <td>🇫🇷</td>
        <td>NCL</td>
    </tr>
    <tr>
        <td>USA-35</td>
        <td>North Dakota</td>
        <td></td>
        <td>ND</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-36</td>
        <td>Ohio</td>
        <td></td>
        <td>OH</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-37</td>
        <td>Oklahoma</td>
        <td>Okla.</td>
        <td>OK</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-38</td>
        <td>Oregon</td>
        <td>Ore.</td>
        <td>OR</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-39</td>
        <td>Pennsylvania</td>
        <td>Penn.</td>
        <td>PA</td>
        <td>Panama</td>
        <td>🇵🇦</td>
        <td>PAN</td>
    </tr>
    <tr>
        <td>USA-40</td>
        <td>Rhode Island</td>
        <td>R.I.</td>
        <td>RI</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-41</td>
        <td>South Carolina</td>
        <td>S.C.</td>
        <td>SC</td>
        <td>Seychelles</td>
        <td>🇸🇨</td>
        <td>SYC</td>
    </tr>
    <tr>
        <td>USA-42</td>
        <td>South Dakota</td>
        <td></td>
        <td>SD</td>
        <td>Sudan</td>
        <td>🇸🇩</td>
        <td>SDN</td>
    </tr>
    <tr>
        <td>USA-43</td>
        <td>Tennessee</td>
        <td>Tenn.</td>
        <td>TN</td>
        <td>Tunisia</td>
        <td>🇹🇳</td>
        <td>TUN</td>
    </tr>
    <tr>
        <td>USA-44</td>
        <td>Texas</td>
        <td>Tex.</td>
        <td>TX</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-45</td>
        <td>Utah</td>
        <td></td>
        <td>UT</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-46</td>
        <td>Vermont</td>
        <td>Vt.</td>
        <td>VT</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-47</td>
        <td>Virginia</td>
        <td>Va.</td>
        <td>VA</td>
        <td>Vatican City</td>
        <td>🇻🇦</td>
        <td>VAT</td>
    </tr>
    <tr>
        <td>USA-48</td>
        <td>Washington</td>
        <td>Wash.</td>
        <td>WA</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-49</td>
        <td>West Virginia</td>
        <td>W.Va.</td>
        <td>WV</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-50</td>
        <td>Wisconsin</td>
        <td>Wis.</td>
        <td>WI</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>USA-51</td>
        <td>Wyoming</td>
        <td>Wyo.</td>
        <td>WY</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-1</td>
        <td>Alberta</td>
        <td></td>
        <td>AB</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-2</td>
        <td>British Columbia</td>
        <td></td>
        <td>BC</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-3</td>
        <td>Manitoba</td>
        <td></td>
        <td>MB</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-4</td>
        <td>New Brunswick</td>
        <td></td>
        <td>NB</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-5</td>
        <td>Newfoundland and Labrador</td>
        <td></td>
        <td>NL</td>
        <td>Netherlands</td>
        <td>🇳🇱</td>
        <td>NLD</td>
    </tr>
    <tr>
        <td>CAN-6</td>
        <td>Northwest Territories</td>
        <td></td>
        <td>NT</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-7</td>
        <td>Nova Scotia</td>
        <td></td>
        <td>NS</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-8</td>
        <td>Nunavit</td>
        <td></td>
        <td>NU</td>
        <td>Niue</td>
        <td>🇳🇺</td>
        <td>NIU</td>
    </tr>
    <tr>
        <td>CAN-9</td>
        <td>Ontario</td>
        <td></td>
        <td>ON</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-10</td>
        <td>Prince Edward Island</td>
        <td></td>
        <td>PE</td>
        <td>Peru</td>
        <td>🇵🇪</td>
        <td>PER</td>
    </tr>
    <tr>
        <td>CAN-11</td>
        <td>Quebéc</td>
        <td></td>
        <td>QC</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAN-12</td>
        <td>Saskatchewan</td>
        <td></td>
        <td>SK</td>
        <td>Slovakia</td>
        <td>🇸🇰</td>
        <td>SVK</td>
    </tr>
    <tr>
        <td>CAN-13</td>
        <td>Yukon</td>
        <td></td>
        <td>YT</td>
        <td>Mayotte</td>
        <td>🇫🇷</td>
        <td>MYT</td>
    </tr>
</table>