{{ if not (eq (len $.Site.Taxonomies.tags) 0) }}
  {{ $fontUnit := "rem" }}

  {{ $largestFontSize := 3.0 }}
  {{ $smallestFontSize := 1.0 }}
  {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
  {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
  {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
  {{ $spread := sub $max $min }}
  {{ $fontStep := div $fontSpread $spread }}

  <div id="tag-cloud" style="padding: 5px 15px">
      <h2>Categories</h2>
      <ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
        {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
          {{ $catCount := len $taxonomy.Pages }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $catCount $min) $fontStep) ) }}
          {{ $weight := div (sub (math.Log $catCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight) ) }}

          <li tag-count="{{ $catCount }}">
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" 
              tag-count="{{ $catCount }}">{{ $name }} ({{ $catCount }})</a>
           </li>
        {{ end }}
        </ul>
    </div>


    <div id="tag-cloud" style="padding: 5px 15px">
        <h2>Tags</h2>
      <ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
            {{ $tagCount := len $taxonomy.Pages }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
            {{ $weight := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight) ) }}

          <li tag-count="{{ $tagCount }}">
              <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" 
            tag-count="{{ $tagCount }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }} ({{ $tagCount }})</a>
          </li>

        {{ end }}
      </ul>
    </div>
{{ end }}