{{ define "main" }}
{{/* partial "search-form.html" . */}}

<main class="posts">
  <div class="posts-group">
    <ul id="results" class="posts-list">
      <!-- results from static/js/search.js returned here-->
    </ul>
  </div>
</main>
{{ end }}